# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
.next/
out/
dist/
build/
.cursor/
# OS files
.DS_Store
Thumbs.db
cache/
# Env files
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.swp

# Coverage
coverage/

#
config.bat
temp_auto_push.bat
temp_interactive_push.bat
